@import 'style.css';

.nav-container {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 5%);
}

.nav-container-bg-color {
    background-color: var(--color-wheat);
}

.nav-container-bg-gradient {
    background-image: linear-gradient(45deg, var(--color-primary-complimentary), var(--color-medium-blue));
}

.sr-only {
    display: none;
}

.nav-logo {
    font-family: 'Roboto Slab', serif;
    padding: 0.5rem 1rem;
}

.nav-logo a {
    text-decoration: none;
}

.nav-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-darker-gray);

}

.nav-tagline {
    font-weight: 500;
    font-size: 1rem;
    color: #1f1f1f;
}

.nav-link-list {
    display: flex;
    list-style: none;
}

.nav-link-list a {
    text-decoration: none;
}

.nav-link-list-item {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--color-dark-gray);
    transition: all 0.2s ease-in-out;
}

.nav-link-list-item:hover {
    color: var(--color-barcelona-red);
}

.nav-social-links {
    margin-left: auto;
}

.nav-social-links ul {
    display: flex;
    list-style: none;
}

.nav-social-links i {
    color: var(--color-dark-gray);
    transition: all 0.2s ease-in-out;
}

.nav-social-links i:hover {
    color: var(--color-barcelona-red);
}

.social-link-list-items {
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
}

.mobile-nav-toggle {
    cursor: pointer;
    display: none;
    z-index: 100;
}

.rotate-45deg{
    transform: rotate(45deg) scaleX(1.25);
}
.rotate-135deg{
    transform: translateY(0.55rem) rotate(-45deg) scaleX(1.25);
   
}
.translate{
    transform: translateX(-100px);
}
.line1 {
    width: 1.5rem;
    height: 0.2rem;
    background-color: var(--color-darker-gray);
    border-radius: 0.25rem;
    margin: 0.35rem;
    transition: 0.35s ease;
}
.line2 {
    width: 1.5rem;
    height: 0.2rem;
    background-color: var(--color-darker-gray);
    border-radius: 0.25rem;
    margin: 0.35rem;
    transition: 0.35s ease;
}
.line3 {
    width: 1.5rem;
    height: 0.2rem;
    background-color: var(--color-darker-gray);
    border-radius: 0.25rem;
    margin: 0.35rem;
    transition: 0.35s ease;
}

@media screen and (max-width: 60em) {
   
    .nav-container{
        padding: 0.25rem 0.5rem;
    }
    .nav-title {
        font-size: 1.75rem;
    }
    .nav-link-list {
        position: fixed;
        inset: 0 30% 0 0;
        background: rgba(255, 255, 255);
        margin: 0;
        padding: 6rem 0rem;
        border-radius: 0 0.5rem 0.5rem 0;
        flex-direction: column;
        z-index: 10;
        transform: translateX(-100%);
        transition: transform 0.35s ease-out;
    }
    .nav-link-list[data-visible="true"]{
        transform: translateX(0%);
    }
    body {
        /* background: rgba(0, 0, 0, 0.4); */
        background: none;
        overflow: hidden;
        transition: 0.35s ease-out;
    }
    .mobile-nav-toggle{
        display: block;
    }
}

@media screen and (max-width: 30em){
    .nav-title {
        font-size: 1.35rem;
    }
    .nav-tagline{
        font-size: 0.70rem;
    }
    .social-link-list-items {
        font-size: 1.125rem;
        padding: 0.25rem 0.6rem;
    }
}