@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-barcelona-red: #C3023A;
    --color-barcelona-blue: #054C96;
    --color-barcelona-yellow: #FFED02;
    --color-barcelona-dark-yellow: #E9B800;
    --color-gray: #D1D5DB;
    --color-dark-gray: #4B5563;
    --color-light-gray: #E5E7EB;
    --color-darker-gray: #212529;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.nav-container {
    display: flex;
    padding: 0.25rem;
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 25%);
}

.nav-logo {
    font-family: 'Roboto Slab', serif;
    padding: 0.5rem 1rem;
    
}
.nav-logo a {
    text-decoration: none;
}
.nav-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-darker-gray);;

}

.nav-U {
    font-weight: 600;
    color: var(--color-barcelona-blue);
}

.nav-I {
    font-weight: 600;
    color: var(--color-barcelona-red)
}

.nav-tagline {
    font-weight: 500;
    font-size: 1rem;
    color: #1f1f1f;
}

.nav-links {
    
}

.nav-link-list {
    display: flex;
    list-style: none;
}

.nav-link-list a {
    text-decoration: none;
}

.nav-link-list-item {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--color-dark-gray);
    transition: 0.2s ease;
}
.nav-link-list-item:hover{
    color: var(--color-barcelona-red);
}

.nav-social-links {
    margin-left: auto;
}

.nav-social-links i {
    color: var(--color-dark-gray);
    transition: 0.2s ease;
}

.nav-social-links i:hover {
    color: var(--color-barcelona-red);
}

.social-link-list-items {
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    /* width: 80%; */
    /* justify-content: space-between; */
    margin:2rem;
}
.text-container{
    font-size: 2rem;
    color: var(--color-darker-gray);
    flex:2;
}
.text-container p{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.primary-btn{
    background-color: var(--color-barcelona-red);
    color: var(--color-white);
    border-radius: 0.25rem;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.secondary-btn{
    color: var(--color-barcelona-blue);
    border-radius: 0.25rem;
    border: 2px solid var(--color-barcelona-blue);
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.image-container{
    margin-left: auto;
    flex: 1;
}
img{
    margin-left: 2rem;
    width: 400px;
}
/* footer{
    background-color: var(--color-darker-gray);
    
}
footer i{
    color: var(--color-white);
    font-size: 1.4rem;

} */
