@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400;700&display=swap');
@import 'components/navigation-bar.css';
@import 'components/alert.css';
@import 'components/avatar.css';
@import 'components/badge.css';
@import 'components/button.css';
@import 'components/cards.css';

:root {
    --color-white: #FFFFFF;
    --color-off-white: #F3F4F6;
    --color-black: #000000;
    --color-barcelona-red: #C3023A;
    /*195 2 58*/
    --color-barcelona-blue: #054C96;
    --color-barcelona-yellow: #FFED02;
    --color-barcelona-dark-yellow: #E9B800;
    --color-sky-blue: #BFDBFE;
    --color-light-blue: #EEF2FF;
    --color-medium-blue: #DBEAFE;
    --color-gray: #D1D5DB;
    --color-dark-gray: #4B5563;
    --color-light-gray: #E5E7EB;
    --color-darker-gray: #212529;
    --color-primary-complimentary: #fcc5c5;
    /*252 197 197*/
    --color-off-white-hover: #E5E7EB;
    --color-cornsilk: cornsilk;
    --color-alert-success: #84f1c9;
    --color-alert-succes-text: #1b7052;
    --color-alert-warning: #ffe7c5;
    --color-alert-warning-text: #ff9204;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.blue-text {
    color: var(--color-barcelona-blue);
}

.red-text {
    color: var(--color-barcelona-red)
}

hr {
    margin-top: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}

.text-container {
    font-size: 2rem;
    color: var(--color-darker-gray);
    flex: 2;
}

.text-container p {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.image-container {
    margin-left: auto;
    flex: 1;
}

.home-img {
    margin-left: 2rem;
    width: 425px;
}

.outest-grid-container {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: fit-content;
    grid-gap: 0.5rem;
    grid-template-areas:
        "sidebar main main main main"
    ;
}

.sidebar-container {
    grid-area: sidebar;
    box-shadow: 0 0 1px 0px rgb(0 0 0 / 25%);
    padding-top: 0;
    position: sticky;
    top: 0rem;
    height: fit-content;
}

.sidebar-header {
    margin: 2rem 2rem 0rem 3rem;

}

.sidebar-list {
    list-style: none;
    font-size: 1.125rem;
    padding: 0;

}

.sidebar-link-item {
    padding: 0.75rem 3rem;
}

.sidebar-link-item:hover {
    background-color: var(--color-primary-complimentary);
}

.sidebar-list a {
    text-decoration: none;
    color: var(--color-darker-gray);
}

.main-container {
    grid-area: main;
    box-shadow: 0 0 1px 0px rgb(0 0 0 / 25%);
    padding: 0rem 2rem 2rem 2rem;
}

.component-header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-darker-gray);
}

.header-description {
    font-size: 1.25rem;
}

.sub-header {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-darker-gray);
}

/* ------------------------------------------------------FORMS------------------------------------------------------------ */

.form-label{
    display: inline-block;
    padding-bottom: 0.625rem;
    box-sizing: border-box;
    margin-top: 0.875rem;
}

.form-label-required-field::after{
    content: "*";
    color: var(--color-barcelona-red);
}
.form-field{
    width: 95%;
    display: block;
    padding: 0.5rem;
    border: 1px solid var(--color-light-gray);
    border-radius: 0.25rem;
    line-height: 2;
    outline: none;
}
.form-field:focus{
    box-shadow: 0 0 0 1px var(--color-barcelona-red);
}
.form-field:disabled{
    background-color: var(--color-light-gray);
}
.form-field-plain-text:read-only{
    border: none;
    background-color: transparent;
}

.form-validation-msg{
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 21px;
    display: none;
}
.form-field-error{
    color: var(--color-barcelona-red);
}
.form-field-success{
    color: var(--color-alert-succes-text);
}

.form-field-symbol{
    padding-right: 0.25rem;
}

.form-validated :invalid~.form-field-error{
    margin: 0.5rem 0rem 0.75rem 0rem;
    display: block;
}
.form-validated :valid~.form-field-success{
    margin: 0.5rem 0rem 0.75rem 0rem;
    display: block;
}

.form-checkbox-field{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 0.25rem;
    accent-color: var(--color-barcelona-red);
}
.form-checkbox-field:focus{
    box-shadow: 0 0 0 1px var(--color-barcelona-red);
}
.form-checkbox-field:focus-within{
    box-shadow: 0 0 0 1px var(--color-barcelona-red);
}
.submit-form-example{
    width: 100%;
}
select.form-field option{
    margin: 1rem;
}