@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400;700&display=swap');

@import 'docSite-components/docsite-sidebar.css';
@import 'components/alert/alert.css';
@import 'components/avatar/avatar.css';
@import 'components/badge/badge.css';
@import 'components/button/button.css';
@import 'components/cards/cards.css';
@import 'components/form/form.css';
@import 'components/image/image.css';
@import 'components/list/list.css';
@import 'components/navigation/navigation.css';
@import 'components/modal/modal.css';
@import 'components/simplified-grid/grid.css';
@import 'components/slider/slider.css';
@import 'components/snackbar/snackbar.css';
@import 'components/typography/typography.css';


:root {
    --color-white: #FFFFFF;
    --color-off-white: #F3F4F6;
    --color-black: #000000;
    --color-barcelona-red: #C3023A;
    --color-barcelona-blue: #054C96;
    --color-barcelona-yellow: #FFED02;
    --color-barcelona-dark-yellow: #E9B800;
    --color-sky-blue: #BFDBFE;
    --color-light-blue: #EEF2FF;
    --color-medium-blue: #DBEAFE;
    --color-gray: #D1D5DB;
    --color-dark-gray: #4B5563;
    --color-light-gray: #E5E7EB;
    --color-darker-gray: #212529;
    --color-primary-complimentary: #fcc5c5;
    --color-golden: #fdc52c;
    --color-dark-mode-bg: #181733;
    --color-dark-bg-text: hsla(0, 0%, 100%, .75);
    --color-off-white-hover: #E5E7EB;
    --color-cornsilk: cornsilk;
    --color-wheat: wheat;
    --color-alert-success: #84f1c9;
    --color-alert-succes-text: #1b7052;
    --color-alert-warning: #ffe7c5;
    --color-alert-warning-text: #ff9204;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
hr {
    margin-top: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-areas: "text image-cont";
    margin: 2rem;
}

.home-text-container {
    font-size: 2rem;
    color: var(--color-darker-gray);
    /* min-width: 30rem; */
    grid-area: text;
    /* flex: 2; */
}

.home-text-container p {
    font-size: 1.5rem;
}

.home-image-container {
    grid-area: image-cont;
    min-width: 15rem;
    max-width: 25rem;
    /* margin-left: auto; */
    /* flex: 1; */
}

.home-img {
    /* width: 25rem;
    height: auto; */
}

.outest-grid-container {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: fit-content;
    grid-gap: 0.5rem;
    grid-template-areas:
        "sidebar main main main main";
}

.sidebar-container {
    grid-area: sidebar;
    box-shadow: 0 0 1px 0px rgb(0 0 0 / 25%);
    padding-top: 0;
    position: sticky;
    top: 0rem;
    height: fit-content;
}

.main-container {
    grid-area: main;
    box-shadow: 0 0 1px 0px rgb(0 0 0 / 25%);
    padding: 0rem 2rem 2rem 2rem;
}

.component-header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-darker-gray);
}

.header-description {
    font-size: 1.25rem;
}

.sub-header {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-darker-gray);
}

@media screen and (max-width: 980px) {
    
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: "text"
                            "image-cont";
    }
}

@media screen and (max-width: 480px){
    
}