.grid-50-50-layout {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.5rem;
}

.grid-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.grid-heading {
    text-align: center;
    margin: 0;
   color: var(--color-darker-gray);
}

.grid-70-30-layout {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 70% 30%;
    
}
.grid-dark-bg{
    background-color: var(--color-dark-mode-bg);
}

.grid-70-30-layout .grid-heading {
    color: var(--color-golden);
}

.grid-70-30-layout .grid-text-div {
    color: var(--color-dark-bg-text);
}

.grid-4-column-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 56.5rem;
    margin: auto;
}

@media screen and (max-width: 60em) {
    .grid-70-30-layout{
        grid-template-columns: 1fr;
    }
    .grid-50-50-layout{
        grid-template-columns: 1fr;
    }
    .grid-4-column-layout{
        grid-template-columns: 1fr 1fr;
    }
}