.form-label {
    display: inline-block;
    padding-bottom: 0.625rem;
    box-sizing: border-box;
    margin-top: 0.875rem;
}

.form-label-required-field::after {
    content: "*";
    color: var(--color-barcelona-red);
}

.form-field {
    width: 95%;
    display: block;
    padding: 0.5rem;
    border: 1px solid var(--color-light-gray);
    border-radius: 0.25rem;
    line-height: 2;
    outline: none;
}

.form-field:focus {
    box-shadow: 0 0 0 1px var(--color-barcelona-red);
}

.form-field:disabled {
    background-color: var(--color-light-gray);
    cursor: not-allowed;
}

.form-field-plain-text:read-only {
    border: none;
    background-color: transparent;
}

.form-validation-msg {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 21px;
    display: none;
}

.form-field-error {
    color: var(--color-barcelona-red);
}

.form-field-success {
    color: var(--color-alert-succes-text);
}

.form-field-symbol {
    padding-right: 0.25rem;
}

.form-validated :invalid~.form-field-error {
    margin: 0.5rem 0rem 0.75rem 0rem;
    display: block;
}

.form-validated :valid~.form-field-success {
    margin: 0.5rem 0rem 0.75rem 0rem;
    display: block;
}

.form-checkbox-field {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 0.25rem;
    accent-color: var(--color-barcelona-red);
}

.form-checkbox-field:focus {
    box-shadow: 0 0 0 1px var(--color-barcelona-red);
}

.form-checkbox-field:focus-within {
    box-shadow: 0 0 0 1px var(--color-barcelona-red);
}

.submit-form-example {
    width: 100%;
}

select.form-field option {
    margin: 1rem;
}