/* -------------------------------------Documentation----------------------------------------- */

.nav-container {
    display: flex;
    padding: 0.25rem;
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 5%);
}
.nav-container-bg-color{
    background-color: var(--color-wheat);
    }
.nav-container-bg-gradient{
    background-image: linear-gradient(45deg, var(--color-primary-complimentary), var(--color-medium-blue));
}
.nav-logo {
    font-family: 'Roboto Slab', serif;
    padding: 0.5rem 1rem;
}
.nav-logo a {
    text-decoration: none;
}
.nav-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-darker-gray);;
}
.nav-tagline {
    font-weight: 500;
    font-size: 1rem;
    color: #1f1f1f;
}
.nav-link-list {
    display: flex;
    list-style: none;
}
.nav-link-list a {
    text-decoration: none;
}
.nav-link-list-item {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--color-dark-gray);
    transition: all 0.2s ease-in-out;
}
.nav-link-list-item:hover{
    color: var(--color-barcelona-red);
}
.nav-social-links {
    margin-left: auto;
}
.nav-social-links i {
    color: var(--color-dark-gray);
    transition: all 0.2s ease-in-out;
}
.nav-social-links i:hover {
    color: var(--color-barcelona-red);
}
.social-link-list-items {
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
}

/* -------------------------------------E-commerce----------------------------------------- */

.navigation-container {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items:flex-end; 
}
.navigation-container .nav-tagline, .navigation-container .nav-title{
    color: var(--color-white);
}
.navigation-container-bg-gradient{
    background-image: linear-gradient(45deg, var(--color-barcelona-blue), var(--color-barcelona-red));
}
.navigation-container .link {
    color: var(--color-white);
    text-decoration: none;
    padding: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
}
.navigation-container .link::after{
    content: "";
    position: absolute;
    background-color: var(--color-white);
    height: 0.15rem;
    width: 0;
    left: 0;
    bottom: 5px;
    transition: 0.3s ease-in-out;
}
.navigation-container .link:hover::after{
    width: 100%;
}
.navigation-container .material-icons{
    color: var(--color-white);    
}
.cart-wishlist-account-container a{
    width: 2rem;
}
